/* Partials
================================================ */
* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Font stacks
================================================ */
/* Base Typography
================================================ */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333; }

/* Links
================================================ */
a, a:visited {
  color: inherit;
  text-decoration: none; }

/* Font Face Imports
================================================ */
/*  @font-face {
		font-family: 'Font Name';
		src: url('assets/fonts/font-name.eot');
		src: url('assets/fonts/font-name.eot?#iefix') format('embedded-opentype'),
			   url('assets/fonts/font-name.woff') format('woff'),
			   url('assets/fonts/font-name.ttf') format('truetype'),
			   url('assets/fonts/font-name.svg#font-name') format('svg');
		font-weight: normal;
		font-style: normal;
	}
  */
/******************************************************************
Site Name:
Author:

Stylesheet: Sass Functions

You can do a lot of really cool things in Sass. Functions help you
make repeated actions a lot easier. They are really similar to mixins,
but can be used for so much more.

Anyway, keep them all in here so it's easier to find when you're
looking for one.

For more info on functions, go here:
http://sass-lang.com/documentation/Sass/Script/Functions.html

******************************************************************/
/*********************
COLOR FUNCTIONS
These are helpful when you're working
with shadows and such things. It's essentially
a quicker way to write RGBA.

Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/
/*********************
RESPONSIVE HELPER FUNCTION
If you're creating a responsive site, then
you've probably already read
Responsive Web Design: http://www.abookapart.com/products/responsive-web-design

Here's a nice little helper function for calculating
target / context
as mentioned in that book.

Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
/* Third Party Payload
================================================ */
/* Components Payload
================================================ */
/* Components Payload
================================================ */
.error404__content {
  background: $primary;
  color: $white;
  padding: 100px 0 150px;
  text-align: center; }
  .error404__content h1 {
    font-size: 7em;
    color: $white;
    line-height: 170px;
    margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */

.grid {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 30px;
  // position: relative;
  width: 100%;
}

.button-container {
  margin: 1em 0;
}

.button,
input[type='submit'] {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 1em 2em;
  text-align: center;
  transition: all 0.3s ease;
  width: 100%;

  &:visited {
    background: transparent;
    color: #fff;
  }

  &:hover,
  &:active,
  &:focus {
    background: #fff;
    cursor: pointer;
    color: #000;
  }
}

input[type='text'],
input[type='email'],
textarea {
  border: 2px solid #cacaca;
  font-family: $font-heading;
  font-size: 1em;
  font-weight: 300;
  height: 50px;
  margin-bottom: 2em;
  max-width: 750px;
  padding: 1em;
  width: 100%;


  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  font-size: 1em;
  font-weight: bold;
}

textarea {
  min-height: 150px;

  
  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary; 
  display: block;
  font-size: 1.1em; 
  font-weight: bold; 
  margin-bottom: 1em; 
  line-height: 1em;
  width: 100%;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2.0em; }
h4 { font-size: 1.8em;  }
h5 { font-size: 1.4em;  }

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul {
  li {
    padding-left: 15px;
    position: relative;
     
  }

  li:before {
    content: "•";
    color: $secondary;
    display: inline-block;
    left: 0;
    position: absolute;
  }
}

.wpcf7 {
  width: 100%;
  
  div.wpcf7-validation-errors, 
  div.wpcf7-acceptance-missing,
  div.wpcf7-response-output,
  div.wpcf7-mail-sent-ok {
    border: none;
    bottom: 2em;
    color: #000;
    left: 0;
    margin: 0;
    padding: 1em 0;
    position: absolute;
  }

  span {
    margin: 0;

    &.wpcf7-not-valid-tip {
      background-image: url(../images/cross-red.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12.5px;
      font-size: 0;
      height: 60px;
      position: absolute;
      right: 0;
      top: -20px;
      width: 60px;
    }
  }

  a {
    text-decoration: underline;
  }
}